
/* Body position set to "relative" for scroll spying */ 
body {
    color: white;
    text-align: center;
    background-color:  gray;
    position: relative;
    overflow-x: hidden;
}

.nav-pills {
    font-family: Lobster;
    background-color: black;
    font-size: 1.6em;
}


.nav-pills a{
    color: #e2eef7;
}

.nav-pills a:hover {
    color:black;
}

div#header {
    
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
}


.row.no-gutter {
  margin-left: 0;
  margin-right: 0;
}


.row.no-gutter [class*='col-']:not(:first-child),
.row.no-gutter [class*='col-']:not(:last-child) {
  padding-right: 0;
  padding-left: 0;
}


#row_2 {
    
    background-color: #29088A;
    padding: 4em;
	margin-top: 4em;
    color: white;
    border-radius: 4em 4em 0 0;
}

#row_3 {
    
    background-color: #00FF40;
    padding: 3em;
    color: black;
    
}


#row_4 {
    
    background-color: rgb(200,200,200);
	padding: 0 2em 3em 2em; 
    border-radius: 0 0 4em 4em;
}

#row_5 {
    
    background-color: black;
    color: white;
    width: 105%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
	padding: 1.5em 0 1.5em 0;
    height: 5.44em;
}


/* reduce widths of rows 2,3,4 and 5 */
div.resize {
    
    width: 60%;
    margin-left: auto;
    margin-right: auto;  
}

/* Style icon link buttons at bottom of page */
.buttonStyle    {
    color: aquamarine;
    border-radius: 50%;
	margin: 0 1.5em 0 1.5em;
    height: 5em;
    width: 5em;
    box-shadow: 1em 1em .5em rgba(0, 0, 0, 0.3); 
}


.buttonStyle#facebookId, .buttonStyle#twitterId  {
    background-color: white;
}

.buttonStyle#githubId  {
    background-color: black;
}

.buttonStyle#linkedinId  {
    background-color: blue;
}
    
.fa {
    
    font-size: 2.5em;
}
   .fa-linkedin, .fa-github   {
    color: white;    
}

.fa-facebook {
    color: darkblue;
}

.fa-twitter {
    color: blue;
}

#linkButtonHeading {
    font-size: 3em;
	margin-bottom: 1em;
	font-weight: 800;
	text-shadow:  .2em .2em .05em rgba(0, 0, 0, 0.3);
    
}

blockquote {
    border: none;
}

/* Used to round corner of thumbnail images */
.cornersRounded {
    
    border-radius: 20%;
    padding: 3em;
}

/* Needed for alignment of project hyperlinks */

#project_link_style {
    
    padding-left: 4em;
    padding-bottom: 0;

}

#row4_heading_adj {
    padding-top: 1em;
    padding-bottom: 1em;
	text-shadow: .15em .15em .05em rgba(0, 0, 0, 0.3);
	font-weight: 800;
}

/* Used in portrait picture */
#portrait_adj {
    display: block;
  	margin: auto auto auto 2.5em;
    border-radius: 50%;
    border: .5em solid cyan;
}

/* Used to Style the submit button */
#submit_btn_style {
    
    float:left;  
    margin-top: 1.3em;
    color: gray;
    box-shadow: 1em 1em .5em rgba(0, 0, 0, 0.3); 
}

#paragraph_style {
  padding-left: 2em;
  text-align: justify;
  text-shadow:  .2em .2em .05em rgba(0, 0, 0, 0.96);
}

#buttonLink {
    
    margin-top : 6em;
}


.jumbotron {
    
    background-color: gray;
}

/* Makes all images fit the same way inside the thumbnail */
.thumbnail img {
    height: 100%;
    width:100%;
}

.thumbnail {
    border-radius: 2em;
    height: 30em;
	padding-bottom: 5em;
}

/* Basic Style */
.form-group {
    position: relative; 
    box-shadow: 1em 1em .5em rgba(0, 0, 0, 0.3);
    color: rgb(255, 0, 0);
    font-family: 'Roboto', sans-serif;
    font-size: 1em;  
    font-weight: 500;
}

/* Height and padding for Entry Data Field, affects all field since it is a base class of all fields */
.form-group [data-toggle="floatLabel"] {
    height: 3em; 
    padding-top: .9em;   

}

/* Specifying ending label positioning and font characteristics of floating label in all Data Entry fields */
.form-group [data-toggle="floatLabel"] + label {
	left: .6em;         
	opacity: 1;
    position: absolute;
	top: .1em;
	transition: all 0.3s ease-in-out;
}


/* Member of the classes  */
.form-group.form-group-textarea textarea {
    height: 10em;                
    resize:none; 
    margin-top: 1em;
}


/* Starting Condition of floating label in all fields */
.form-group [data-toggle="floatLabel"][data-value=""] + label {
	opacity: 0;
	top: 1em; 
}

